<div class="logo">
  <img src="logo-url-aqui" alt="Logo"> 
</div>

<div class="login-box">
  <p>Login</p>
  <form>
    <div class="user-box">
      <input required="" type="text" id="login-email">
      <label>Email</label>
    </div>
    <div class="user-box">
      <input required="" type="password" id="login-password">
      <label>Password</label>
    </div>

    <a routerLink="/home" class="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>

  <p>Forgot your password?
    <a routerLink="/reset-password" class="forgot-password">Click here!</a>
  </p>

  <p>Don't have an account?
    <a routerLink="/register" class="register">Register!</a>
  </p>
</div>
